*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(25, 255, 148);
    font-family: 'montserrat', sans-serif;
}

header  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid darkgray;
}

#logomarca img{
    max-width:80px;
    max-height:80px;
    
}
